name: Django CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8

      - name: Lint code
        run: flake8 . --ignore=E501,E302,E303,E402,W293,F401 --exclude=migrations,venv

      - name: Run tests
        env:
          SECRET_KEY: testkey
          DEBUG: "True"
        run: python manage.py test

      - name: Build Docker image
        run: docker build -t devops-task .
